@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="panel register-panel">
    <div class="panel-body register-panel-body">
        <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal register-form">
            <h4>Create a new account.</h4>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="icon-addon">
                    <input asp-for="Email" class="form-control" placeholder="Email" />
                    <label for="Email" class="glyphicon glyphicon-envelope" />
                </div>
            </div>
            <div class="form-group">
                <div class="icon-addon">
                    <input asp-for="Password" class="form-control" placeholder="Password"/>
                    <label for="Password" class="glyphicon glyphicon-lock" />
                </div>
            </div>
            <div class="form-group">
                <div class="icon-addon">
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password"/>
                    <label for="ConfirmPassword" class="glyphicon glyphicon-lock" />
                </div>
            </div>
            <div class="form-group register-form-submit">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>

        @section Scripts {
            @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        }
