.login-panel-heading, .register-panel {
    margin-top: 40px;
}

.login-panel, .register-panel {
    width: 280px;
    border: none;
}

.login-panel-body, .register-panel-body {
    border: 1px solid #cecece !important;
    padding: 20px;
}

.login-form-submit {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

    .icon-addon .glyphicon {
        position: absolute;
        left: 30px;
        padding: 10px 0;
    }

    .icon-addon .form-control {
        padding-left: 30px;
        border-radius: 0;
    }

    .icon-addon:hover .glyphicon {
        color: #2580db;
    }

.login-form input, .register-form input {
    margin-left: 20px;
    max-width: 225px;
}

.login-form .checkbox {
    margin-left: 20px;
    margin-top: -10px;
}

.login-form button, .register-form button {
    width: 100%;
}

.login-form .validation-summary-errors ul,
.register-form .validation-summary-errors ul {
    padding-left: 20px;
}
